<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>64198250262-9ns6h3he6ch9k37f4rbs9so7kb343e1j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.64198250262-9ns6h3he6ch9k37f4rbs9so7kb343e1j</string>
	<key>API_KEY</key>
	<string>AIzaSyB8cqJY8_4CeBSy-FIZ1DFE9XL8A0pT8BE</string>
	<key>GCM_SENDER_ID</key>
	<string>64198250262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.labpass</string>
	<key>PROJECT_ID</key>
	<string>labpass-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>labpass-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64198250262:ios:91a4aca938b0000042ca37</string>
</dict>
</plist>